<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Result Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <style>
    .container3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: 20px; /* Adjust the margin to move the .right div to the left */
    }
    .right form {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
    .right form button {
      flex: 1;
    }
  </style>
  <body>
    <a href="{{ url_for('home') }}" style="text-decoration: none">
      <h1
        style="
          background-image: linear-gradient(to right, #4cb9e8, #007cc4);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 800;
          font-size: 64px; /* Set font size to 64 */
          text-align: left;
          margin-left: 0; /* Ensure it's aligned with the left edge */
        "
      >
        <img
          src="{{ url_for('static', filename='logo.png') }}"
          alt=""
          style="height: 48.5px; width: auto; margin-left: 40px"
        />
        <!-- Adjust height to 64px, width to auto (maintains aspect ratio) -->
        Druk Brain Scan
      </h1>
    </a>

    <div class="container3">
      <div class="right">
        <h1>Result Page</h1>
        <div class="image-container">
          <img
            src="{{ url_for('static', filename='uploads/' + filename) }}"
            alt="Uploaded Image"
          />
        </div>
        <div class="result-container">
          <p>{{ result }}</p>
        </div>
        <a href="{{ url_for('home') }}" style="padding: 30px">Back to Home</a>
      </div>
    </div>

    <footer
      style="
        background-color: #001420;
        color: white;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      "
    >
      <h3 style="margin: 0px">&copy; 2024 DrukBrainScan</h3>
    </footer>
  </body>
</html>
